*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #21d980;
    transition: 0.5s;
}
.login
{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}
.login h2
{
    font-weight: 500;
    border-left: 15px solid #26d480;
    line-height: 1em;
    padding-left: 10px;
    transition: 0.5s;
    color: #333;
}
.login .inputBox input
{
    position: relative;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: 2px solid #555;
    font-size: 1em;
    color: #333;
}
.login .inputBox input#btn
{
    border: none;
    background: #26d480;
    color: #fff;
    transition: 0.5s;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}


.login .inputBox #toggleBtn
{
    position: absolute;
    top: 221px;
    right: 58px;
    width: 34px;
    height: 34px;
    background: rgba(0,0,0,0.05);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .inputBox #toggleBtn::before
{
    content: '\f06e';
    font-family: fontAwesome;
}
.login .inputBox #toggleBtn.hide::before
{
    content: '\f070';
}


.login .inputBox #toggleBtn2
{
    position: absolute;
    top: 283px;
    right: 58px;
    width: 34px;
    height: 34px;
    background: rgba(0,0,0,0.05);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .inputBox #toggleBtn2::before
{
    content: '\f06e';
    font-family: fontAwesome;
}
.login .inputBox #toggleBtn2.hide::before
{
    content: '\f070';
}




.login .group
{
    display: flex;
    justify-content: space-between;

}
.login .group a
{
    color: #333;
    text-decoration: none;
}
.login .group a:nth-child(2)
{
    font-weight: 500;
    text-decoration: underline;
}
.colors
{
    position: absolute;
    right: 0;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.colors span
{
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--clr);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.colors span.active
{
    border: 2px solid #333;
    scale: 1.5;
    transition: 0.5s;
}




.wrapper .icon {
    margin:0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon span
{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

 
.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
} 
.wrapper .icon:hover .tooltip
{
    opacity:1;
    top: -70px;
    pointer-events: auto;
}
.wrapper .icon .tooltip::before
{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover span
{
    color: #fff;

}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip
{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before
{
    background: #3B5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before
{
    background: #46C1E6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before
{
    background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before
{
    background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before
{
    background: #DE463B;
}
.wrapper .vk:hover span,
.wrapper .vk:hover .tooltip,
.wrapper .vk:hover .tooltip::before
{
    background: #597da3;
}
.wrapper .Telegram:hover span,
.wrapper .Telegram:hover .tooltip,
.wrapper .Telegram:hover .tooltip::before
{
    background: #0088cc;
}